<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sighting List</title></head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.0.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <body>
    <nav class="navbar navbar-default ">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/sightings/">Squirrel Tracker</a></div>
        <ul class="nav navbar-nav ">
          <li>
            <a href="/map/">Map View</a></li>
          <li>
            <a href="/sightings/">Sighting List</a></li>
          <li>
            <a href="/sightings/add/">Add New Sighting</a></li>
          <li>
            <a href="/sightings/stats/">General Stats</a></li>
        </ul>
      </div>
    </nav>
    <main role="main" class="container">
        <p><a href="/sightings/add/">Please click here to add a new sighting.</a></p>
        <p>All Sightings: (Click to see the detail of an unique sighting)</p>
        <ul>
          {% for sighting in sightings %}
          <li>
		Unique Squirrel ID: <a href="{%url 'squirrel:update_sighting' sighting.unique_squirrel_id %}">{{ sighting.unique_squirrel_id }}</a>; 
          	Date: {{ sighting.date }}.
          </li>
          {% endfor %}
        </ul>
      </main>
  </body>
</html>

